#section-1 {
    background-image: linear-gradient(rgba(255, 255, 255, 50%), rgba(255, 255, 255, 50%)), url("../public/bg_bggenerator_com.png");
    width: 100%;
    height: fit-content;
    padding-bottom: 5vh;
}

#section-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0%), rgba(255, 255, 255, 0%)), url("../public/bg_bggenerator_com2.png");
    width: 100%;
    height: fit-content;
    color: white;
    /* padding-bottom: 5vh; */
}

#section-3 {
    background-color: white;
    width: 100%;
    height: fit-content;
    color: black;
    /* padding-bottom: 5vh; */
}